body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: black;
  display: flex;
}

#container {
  width: 75%;
  height: 75%;
  margin: auto;
  background: #f4625d;
  /* Make sure the container has
  something else than position static */
  position: relative;
}

/* To prevent wierd values when clicking
on the svg instead of the container,
you can set pointer events none
on the generated graphics */
.no-pointer {
  pointer-events: none;
}
